:root {
    --header-left-color: #888;
    --frist-color: #eee;
    --text-color: #ccc;
    --title-color: #999;
    --boder-color: #666;
    --white-color: #fff;
    --black-color: #000;
    --blue-color: rgb(0, 0, 255);
    --bg-color: #555;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

