:root {
    --frist-color: #eee;
    --text-color: #333;
    --title-color: #999;
    --boder-color: #666;
    --white-color: #fff;
    --black-color: #000;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

